[flake8]
max-line-length = 80
inline-quotes = single
exclude =
    tests/,
    */migrations/,
    /venv/,
    */venv/,
    test*.py,
    env/,
    */env/
ignore =
    # Line break occurred before a binary operator
    W503,
    # Missing docstrings
    D100,D101,D102,D103,D104,D105,D106,D107,
    # First line should be in imperative mood
    D401,
    # Missing explicit return at the end of function
    R503
per-file-ignores =
    # Variables names that shadow builtins are not allowed
    */serializers.py:VNE003
