{# Изменение текста формы при создании пользователя в админ-панели. #}
{% extends "admin/auth/user/add_form.html" %}
{% load i18n %}

{% block form_top %}
  {% if not is_popup %}
    <p>
      {% translate 'Сначала введите имя пользователя, адрес электронной почты, имя, фамилию и пароль.' %}
      {% translate 'Позднее вы сможете поменять эти настройки, а также установить уровни доступа.' %}
    </p>
    <p>
      {% translate 'Все поля являются обязательными.' %}
    </p>
  {% else %}
    <p>{% translate 'Сначала введите имя пользователя, адрес электронной почты, имя, фамилию и пароль.' %}</p>
  {% endif %}
{% endblock %}